<div class="c">
    <p>
        {{todolist.Title}}
      </p>
     
      <div *ngIf="isShow">
        <p>
          {{selectedItem.id}}
        </p>
        <input type="text" [value]=selectedItem.title #inputdelo>
        <input type="text" [value]=selectedItem.description #inputdescription>
        <button (click)="update(inputdelo.value, inputdescription.value)">Save</button>
      </div>
  <p>
    <label for="new-task">Добавить дело</label><input id="new-task" type="text" #inputDelo><button (click)="addDelo(inputDelo.value)">Добавить</button>
  </p>
  <input type=text #inputtext>
  <button (click)="filterDelo(inputtext.value)">Поиск</button>
  <h3>Todolist</h3>
  <ul id="incomplete-tasks">

    <!-- <li><input type="checkbox"><label>Дело 1</label><input type="text"><button class="complete" (click)="sdelanoDelo(delo)">Завершить</button><button class="edit" (click)="changedDelo(delo)">Редактировать</button><button class="delete" (click)="deleteDelo(delo)">Удалить</button></li> -->
    <li class="editMode" *ngFor="let delo of todolist.ToDoItems">
      <input type="checkbox">
      <!-- <p>{{delo.title}}</p> -->
      <p>{{delo.title}}</p>
      <div>{{delo.description}}</div>
      <button class="complete" (click)="sdelanoDelo(delo)">Завершить</button>
      <button class="edit" (click)="changeDelo(delo)">Редактировать</button>
      <button class="delete" (click)="deleteDelo(delo)">Удалить</button>
    </li>
  </ul>

  <!-- <p>{{delo.status}}</p> -->
  <!-- <input type="text" [value]=delo.title [style.background-color]=getColor(delo) class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1"> -->
  
  <h3>Завершенные</h3>
      
  <ul id="completed-tasks" *ngFor="let delo of todolist.ClosedToDoItems">
    <li><input type="checkbox" checked><label>Дело 3</label><input type="text"><button class="edit">Редактировать</button><button class="delete">Удалить</button></li>
    <p [ngStyle]=getStyle(delo)>{{delo.title}} </p>
  </ul>
  
</div>