
<p>
  {{todolist.Title}}
</p>
<!-- Add -->
<input type="text" #inputDelo>
<button type="button" class="btn btn-primary" (click)="addDelo(inputDelo.value)">Добавить дело</button>

<!-- Delete -->
<div class="input-group mb-3" *ngFor="let delo of todolist.ToDoItems">
  <div class="input-group-prepend">
    <button type="button" class="btn btn-outline-secondary" (click)="sdelanoDelo(delo)">Сделано</button>
    <button type="button" class="btn btn-outline-secondary" (click)="deleteDelo(delo)">Удалить</button>
    <button type="button" class="btn btn-outline-secondary" (click)="changedDelo(delo)">Изменить</button>
    <!-- <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" (mouseenter)="selectItem(delo)">Модальное окно</button> -->
  </div>
  <p>{{delo.status}}</p>
  <input type="text" [value]=delo.title [style.background-color]=getColor(delo) class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3" *ngFor="let delo of todolist.ClosedToDoItems">
 <p [ngStyle]=getStyle(delo)>{{delo.title}} </p>
  </div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" *ngIf="selectedItem && selectedItem.id.length > 0">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{selectedItem.id}}</h4>
      </div>
      <div class="modal-body">
        <input type="text" #userInput [value]=selectedItem.title >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-default" (click)="getChangedText(userInput.value)">Изменить</button>
      </div>
    </div>

  </div>
</div>

    